<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">


<dom-module id="test-iron-pages">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="">
     <h1>TEST IRON PAGES</h1>
   </div>
   <input typ="text" value="{{componentName::input}}" />
   <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
     <div component-name="login-usuario"><login-usuario></login-usuario></div>
     <div component-name="visor-usuario"><visor-usuario id="{{userId}}"></visor-usuario></div>
     <div component-name="visor-cuentas"><visor-cuentas userId="{{userId}}s"></visor-cuentas></div>
   </iron-pages>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class TestIronPages extends Polymer.Element {
     static get is() { return 'test-iron-pages'; }
     static get properties() {
       return {
         componentName:{
           type: String
         },
         userId: {
           type: String
         }
       };
     }
   }

   window.customElements.define(TestIronPages.is, TestIronPages);
 </script>
</dom-module>
