<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
-->
    <div class="row">
        <h1 class="col-md-12">Login usuario</h1>
    </div>
    <div class="row">
        <label for="email" class="col-md-6">email</label>
        <label for="password" class="col-md-6">password</label>
    </div>

    <div class="row">
      <input type="email" id="email" placeholder="email" class="col-md-6" value="{{email::input}}">
      <input type ="password" placeholder="password" class="col-md-6" value="{{email::input}}">
    </div>

    <div class="row">
      <button class="btn btn-success" on-click="login">Login</button>
    </div>

    <span hidden$="{{!isLogged}}">logged!</span>


    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="manageAJAXError"
    ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: "ptiley1@dagondesign.com"
          },
          password: {
            type: String,
            value: "Lq5kg9YmA9"
          },
          isLogged: {
            type: Boolean,
            value: false
          }

        };
      }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor login")
        console.log(data.detail.response)

        this.isLogged = true;
        window.location = "/user/" + data.detail.response[0].id;
      }

      manageAJAXError(data){
        console.error("error")
      }

      login(){
        console.log('cliqui')
        var loginData = {
          email: this.email,
          password: this.password
        }

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("acaba login")
      }


    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
