<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <h3>Soy el receptor</h3>
   <h3>Este es el curso {{course}} en el año [[year]]</h3>
   <input type="text" value="{{course::input}}" />
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ReceptorEvento extends Polymer.Element {
     static get is() { return 'receptor-evento'; }
     static get properties() {
       return {
         course:{
           type: String,
           observer: '_courseChanged'
         },
         year:{
           type: String,
           observer: '_yearChanged'
         }
       };
     }

     showData(data){
       console.log("datos recibidos en receptor", data)
       this.course = data.course;
       this.year = data.year
     }

     _courseChanged(newValue, oldValue){
       console.log("_courseChanged observer newValue", newValue)
       console.log("_courseChanged observer oldValue", oldValue)
     }

     _yearChanged(newValue, oldValue){
       console.log("_yearChanged observer newValue", newValue)
       console.log("_yearChanged observer oldValue", oldValue)
     }
   }

   window.customElements.define(ReceptorEvento.is, ReceptorEvento);
 </script>
</dom-module>
