<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
-->
    <div class="row">
        <h1 class="col-md-12">Visor de cuentas</h1>
    </div>
    <div class="row">
        <label for="email" class="col-md-6">Introduzca el ID de usuario: </label>
    </div>

    <div class="row">
      <input type="number" id="userId" placeholder="ID de usuario" class="col-md-1" value="{{userId::input}}" on-change="userChange">
      <button class="btn" on-click="getAccounts">Go!</button>
    </div>

    <br/>

      <template  is="dom-repeat" items="{{accounts}}">
        <div class="row">
          <div class="col-md-3">
            <span>IBAN: </span>
            <span>{{item.iban}}</span>
          </div>
          <div class="col-md-3">
            <span>Balance: </span>
            <span>{{item.balance}}</span>
          </div>
        </div>
      </template>
    </div>


    <iron-ajax
      auto
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/users/{{userId}}/accounts"
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="manageAJAXError"
    ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userId: {
            type: String
          },
          accounts: {
            type: Array,
            value: null
          },
          listado: {
            type: Boolean,
            value: true
          }
        };
      }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor accounts [GET]")
        console.log(data.detail.response)
        this.accounts = data.detail.response;
      }

      manageAJAXError(data){
        console.error("error")
      }

      getAccounts(){
        if (!this.userId){
          console.error("userId is null or empty");
          return;
        }

        this.$.doLogin.generateRequest();
        console.log("acaba getAccounts")
      }

      userChange(){
        this.accounts = null;
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
