<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
-->
    <div class="row">
        <h1 class="col-md-5">Visor usuario</h1>
        <h2 class="col-md-3">Soy [[first_name]] [[last_name]]</h2>
        <h2 class="col-md-3">y mi email es  [[email]] </h2>
        <button class="btn btn-link">
            <a href="/user/{{id}}/accounts">Ver mis cuentas</a>
        </button>
    </div>

    <iron-ajax
      auto
      id="getUser"
      url="http://rutaapi-sanguinotechu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          id: {
            type: Number
          },
          email: {
            type: String
          }
        };
      }

      showData(data){
        console.log(data.detail.response)
        console.log(data.detail.response[0])
        console.log(data.detail.response[0].first_name)

        this.id = data.detail.response[0].id;
        this.first_name = data.detail.response[0].first_name;
        this.last_name = data.detail.response[0].last_name;
        this.email = data.detail.response[0].email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
