<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="visor-yeah">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `visor-yeah`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorYeah extends Polymer.Element {
      static get is() { return 'visor-yeah'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'visor-yeah'
          }
        };
      }
    }

    window.customElements.define(VisorYeah.is, VisorYeah);
  </script>
</dom-module>
